player-connection-mode=Listen
player-connection-guid=2606892968
player-connection-debug=0
player-connection-project-name=Crith Rorelse
player-connection-ip=26.182.3.110
player-connection-ip=169.254.61.245
player-connection-ip=172.24.96.1
player-connection-ip=172.17.176.1
player-connection-ip=192.168.192.1
player-connection-ip=172.21.176.1
player-connection-ip=192.168.100.7
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=6ff30a3b30eb428e80fb926e91017b18
