player-connection-mode=Listen
player-connection-guid=1276629988
player-connection-debug=0
player-connection-project-name=Crith Rorelse
player-connection-ip=26.182.3.110
player-connection-ip=169.254.200.58
player-connection-ip=172.18.0.1
player-connection-ip=172.20.48.1
player-connection-ip=172.30.112.1
player-connection-ip=172.27.128.1
player-connection-ip=192.168.100.51
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=cc2f2f9070a84ee5a2b1a6c9d7deafc0
